*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* header */

position: absolute;
width: 1415px;
height: 786px;
left: 80px;
top: 35px;



/* Explore and Travel */

position: absolute;
left: 11.81%;
right: 65.94%;
top: 3.58%;
bottom: 93.56%;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 80px;
/* or 125% */

color: #202336;

mix-blend-mode: normal;


/* top nav */

position: absolute;
width: 663px;
height: 60px;
left: 747px;
top: 35px;



/* Home */

position: absolute;
left: 46.69%;
right: 50.44%;
top: 1%;
bottom: 98.66%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #202336;



/* Destinations */

position: absolute;
left: 51.75%;
right: 42.31%;
top: 1%;
bottom: 98.66%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #B8BECD;



/* About */

position: absolute;
left: 59.81%;
right: 37.31%;
top: 1%;
bottom: 98.66%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #B8BECD;



/* Partner */

position: absolute;
left: 64.81%;
right: 31.62%;
top: 1%;
bottom: 98.66%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #B8BECD;



/* register btn */

position: absolute;
width: 132px;
height: 60px;
left: 1278px;
top: 35px;



/* Rectangle 34 */

position: absolute;
left: 79.88%;
right: 11.88%;
top: 0.77%;
bottom: 98.44%;

background: #FB8F1D;
border-radius: 8px;


/* Register */

position: absolute;
left: 82.12%;
right: 14.12%;
top: 0.63%;
bottom: 98.3%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 60px;
/* identical to box height, or 400% */
display: flex;
align-items: center;

color: #FFFFFF;

mix-blend-mode: normal;


/* login btn */

position: absolute;
width: 132px;
height: 60px;
left: 1128px;
top: 35px;



/* Rectangle 35 */

box-sizing: border-box;

position: absolute;
left: 70.5%;
right: 21.25%;
top: 0.77%;
bottom: 98.44%;

border: 1px solid #FB8F1D;
border-radius: 8px;


/* Login */

position: absolute;
left: 73.38%;
right: 24.12%;
top: 0.63%;
bottom: 98.3%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 60px;
/* identical to box height, or 400% */
display: flex;
align-items: center;

color: #FB8F1D;

mix-blend-mode: normal;


/* thousand-01 1 */

position: absolute;
width: 687px;
height: 654px;
left: 808px;
top: 167px;

background: url(thousand-01.png);


/* element3 */

position: absolute;
left: 41.06%;
right: 57.68%;
top: 3.94%;
bottom: 95.71%;

background: #FDD08D;


/* element2 */

position: absolute;
left: 5%;
right: 93.38%;
top: 8.84%;
bottom: 90.69%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);


/* element */

position: absolute;
left: 45.75%;
right: 53%;
top: 14.01%;
bottom: 85.63%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);


/* holiday finder */

position: absolute;
width: 471px;
height: 344px;
left: 190px;
top: 434px;



/* btn */

position: absolute;
width: 180px;
height: 60px;
left: 190px;
top: 718px;



/* Rectangle 1 */

position: absolute;
left: 11.88%;
right: 76.88%;
top: 12.92%;
bottom: 86.15%;

background: #FB8F1D;
border-radius: 8px;


/* Explore */

position: absolute;
left: 15.62%;
right: 80.56%;
top: 12.85%;
bottom: 86.08%;

font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 60px;
/* identical to box height, or 353% */
display: flex;
align-items: center;

color: #FFFFFF;

mix-blend-mode: normal;


/* holiday finder */

position: absolute;
width: 470px;
height: 237px;
left: 191px;
top: 434px;



/* Location */

position: absolute;
left: 13.88%;
right: 81.88%;
top: 9.9%;
bottom: 89.92%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 32px;
/* or 213% */
display: flex;
align-items: center;

color: #4A4C53;

mix-blend-mode: normal;


/* Holiday finder */

position: absolute;
left: 11.94%;
right: 78.75%;
top: 7.77%;
bottom: 91.75%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */

color: #202336;



/* Rectangle 29 */

position: absolute;
width: 32px;
height: 2px;
left: 191px;
top: 482px;

background: #202336;
border-radius: 4px;


/* Rectangle 30 */

box-sizing: border-box;

position: absolute;
width: 220px;
height: 52px;
left: 191px;
top: 532px;

border: 0.8px solid #AFB0B9;
border-radius: 6px;


/* Frame */

position: absolute;
width: 9.5px;
height: 6px;
left: 371px;
top: 558px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4A4C53;


/* Activity */

position: absolute;
left: 29.5%;
right: 66.75%;
top: 9.9%;
bottom: 89.92%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 32px;
/* or 213% */
display: flex;
align-items: center;

color: #4A4C53;

mix-blend-mode: normal;


/* Rectangle 31 */

box-sizing: border-box;

position: absolute;
width: 220px;
height: 52px;
left: 441px;
top: 532px;

border: 0.8px solid #AFB0B9;
border-radius: 6px;


/* Grade */

position: absolute;
left: 13.88%;
right: 82.38%;
top: 11.45%;
bottom: 88.37%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 32px;
/* or 213% */
display: flex;
align-items: center;

color: #4A4C53;

mix-blend-mode: normal;


/* Rectangle 32 */

box-sizing: border-box;

position: absolute;
width: 220px;
height: 52px;
left: 191px;
top: 619px;

border: 0.8px solid #AFB0B9;
border-radius: 6px;


/* Frame */

position: absolute;
width: 9.5px;
height: 6px;
left: 371px;
top: 645px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4A4C53;


/* Date */

position: absolute;
left: 29.5%;
right: 66.75%;
top: 11.45%;
bottom: 88.37%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 32px;
/* or 213% */
display: flex;
align-items: center;

color: #4A4C53;

mix-blend-mode: normal;


/* Rectangle 33 */

box-sizing: border-box;

position: absolute;
width: 220px;
height: 52px;
left: 441px;
top: 619px;

border: 0.8px solid #AFB0B9;
border-radius: 6px;


/* Frame */

position: absolute;
width: 9.5px;
height: 6px;
left: 621px;
top: 645px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4A4C53;


/* Frame */

position: absolute;
width: 9.5px;
height: 6px;
left: 621px;
top: 558px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4A4C53;


/* logo */

position: absolute;
width: 41px;
height: 41px;
left: 191px;
top: 45px;



/* logo */

position: absolute;
width: 41px;
height: 41px;
left: 191px;
top: 45px;



/* Ellipse 7 */

position: absolute;
width: 41px;
height: 41px;
left: 191px;
top: 45px;

background: #1ABE84;


/* Ellipse 11 */

position: absolute;
width: 15px;
height: 15px;
left: 204px;
top: 58px;

background: #FB8F1D;
border: 3px solid #FFFFFF;

}